@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.container-fluid.no-padding {
  padding: 0;
  margin: 0;
}
.logo {
  background-color: aliceblue;
  border-radius: 50%;
}

.navbar-nav a:hover {
  background-color: #fff;
  color: black !important;
}
.navbar-brand img {
  border-radius: 50%;
}

.background {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  animation: changeBanner 24s infinite;
}

@keyframes changeBanner {
  0% {
    background-image: url("./Assets/img/banner\ central.jpg");
  }
  33% {
    background-image: url("./Assets/img/pexels-tima-miroshnichenko-8727380.jpg");
  }
  66% {
    background-image: url("./Assets/img/pexels-bankole-adeoni-5576289.jpg");
  }
  100% {
    background-image: url("./Assets/img/banner\ central.jpg");
  }
}

.icon {
  font-size: 40px;
  color: #fff;
  transition: 100ms;
}
.icon:hover {
  color: #d45a02;
  filter: drop-shadow(1px 1px);
}

.carrito {
  border: 4px solid #4d4d4d;
  border-radius: 15px;
}

.banner {
  background-image: url(./Assets/img/banner2.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}


.gunz {
  color: #d45a02 !important;
  font-size: 3rem;
}
.textDecoration {
  color: #d45a02;
  padding: 35px;
  width: 30%;
  font-size: 7rem;
  font-family: "Russo One", sans-serif;
}
.navbar-nav,
footer,
.btn,
.title,
.table th,
h4 {
  font-family: "Roboto Mono", monospace;
}
.galery img {
  width: 400px;
  border-radius: 15px;
  transition: 90ms;
}
.galery img:hover {
  filter: drop-shadow(5px 5px);
}
footer {
  background-color: #4b4b4b;
}

@media (max-width: 767px) {
  .background {
    height: 40vh;
  }
  .logo {
    width: 100px;
  }
  .textDecoration {
    font-size: 2rem;
  }
  .banner {
    height: 300px;
    margin-bottom: 15px;
  }
  .icon {
    font-size: 25px;
  }
  .gunz {
    font-size: 2.5rem;
  }
  footer {
    height: 20vh;
  }
}
